body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#bungkus {
    width: 1000px;
    margin: 20px auto 0;
}

#logo img {
    width: 80px;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu ul li {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-left: 10px;
}

#logo {
    margin-bottom: 20px;
}

#menu {
    margin-top: 50px;
}

#menu ul li a {
    text-decoration: none;
    font-weight: none;
    padding: 30px 0;
}

#menu ul li a:hover, #menu ul li a.active {
    border-bottom: 5px solid;
}

#top {
    display: flex;
    justify-content: space-between;
}

#banner {
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

#banner img {
    width: 100%;
}

#highlight {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#highlight .box {
    width: 320px;
    height: 180px;
    background: grey;
    border-radius: 10px;
    overflow: hidden;
}

.box img {
    width: 320px;
}

#banner2 {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

#banner2 .left {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

#banner2 .text {
    width: 540px;
    align-items: center;
}

.left img {
    width: 100%;
    height: 100%;
}

#clients {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#clients .client-box {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    overflow: hidden;
}

.client-box img {
    width: 100px;
}

h3 {
    text-align: center;
}

#testimonial {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
}

.testimonial-box {
    width: 430px;
    height: 200px;
    background: grey;
    border-radius: 20px;
    text-align: center;
    padding: 30px 30px;
}

.testimonial-box img {
    width: 75px;
    border-radius: 100px;
}

#contact {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.contact-content {
    text-align: center;
    width: 900px;
    height: 180px;
    background: #ff1495;
    align-content: center;
}

.contact-content p {
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.contact-content input {
    margin-bottom: 20px;
    text-align: center;
    width: 350px;
    padding: 7px;
}

.contact-content button {
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background: hotpink;
    border: 1px solid white;
    border-radius: 5px;
}

.contact-content button:hover {
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background: pink;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

#contents {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background: #343434;
    width: 900px;
    padding: 30px 40px;
    color: white;
}

.left, .right {
    align-content: center;
}

#contents .left h3 {
    font-size: 16px;
    text-align: left;
}

#contents .left p {
    color: lightgray;
    font-size: 15px;
}

#contents .right img {
    width: 25px;
    height: 25px;
}

#contents .right {
    text-align: right;
}

#contents .right p {
    font-size: 12px;
    color: lightgray;
}